:root{
    --color-white: #fff;
    --gray-dark: #424242;
    --gray-light: #616f7b;
    --aqua: #1abc9c;
}

.header-menu{
    background-color: #2c3e50;
    color: var(--color-white);
}

.under-header{
    background-color: var(--aqua);
}

.col-md-6{
    background-color: blue;
}