:root{
    --white: #fff;
    --gray-dark: #424242;
    --gray-light: #616f7b;
    --aqua: #1abc9c;
    --light-blue: #3a546d;
    --dark-blue: #2c3e50;
}

.header-menu{
    background-color: #2c3e50;
    color: var(--white);
}

.color-aqua{
    background-color: var(--aqua);
    color: var(--white);
}

.color-blue{
    background-color: var(--light-blue);
    color: var(--white);
}

.color-dark-blue{
    background-color: var(--dark-blue);
    color: var(--white);
}

.white{
    color: var(--white);
}

header a:hover{
    color: var(--aqua);
}

.img-avatar{
    width: 200px;
    padding-top: 5rem;
}

.line{
    width: 10%;
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: 2px;
}

.line-two{
    width: 10%;
    display: inline-block;
    border: 1px solid var(--dark-blue);
    border-radius: 2px;
}

.item .rounded-4{
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}

.port .item{
    position: relative;
}

.port .item::after{
    content: "\F4FE";
    font-family: bootstrap-icon;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    color: transparent;
    background-color: rgba(26,188,156, 0);
    transition: all 1s;
}

.port .item:hover::after{
    color: var(--white);
    background-color: rgba(26,188,156, .6);
}

.circle{
    border-radius: 50%;
    border: 1px solid white;
    padding: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.circle-two{
    border-radius: 50%;
    border: 1px solid white;
    padding: .8rem;
    padding-left: .7rem;
    padding-right: .7rem;
}

.circle-three{
    border-radius: 50%;
    border: 1px solid white;
    padding: .9rem;
}
.aqua{
    color: var(--aqua);
}

.foot{
    height: 100px;
    vertical-align: middle;
}
